.center{
    display: block;
    margin: auto;
    width: 50%;
    background-color: rgb(31, 31, 31);
    padding: 30px;
    margin-top:100px;
    border-radius: 7px;
}

.ha1{
    display: block;
    width:60px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(90, 69, 126);
    border-radius: 7px;
}

.bt1{
    width:100%;
    margin: 30px 0px;
}